.toast{
    height:200px;
   
}

.wrapper{
    display: flex;
    flex:2;
    background:aliceblue;
    justify-content: center;
    align-items: center;
    height:160px;
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    flex-direction:column;
    flex-wrap: wrap;
}

.wrapper1{
    display:flex;
    justify-content: center;
    margin-left: 20px;
}
.tick{
  
    display:flex;
    margin-left: 5px;
    justify-content: center;
    align-items: center;

}
.todo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.symbol{
    display:flex;
    align-items: center;
}

.footer{
    font-size: 9px;
    justify-content: flex-end;
    margin-top:140px;
    margin-left: 20px;
   
}



.tick:hover{
    transform: scale(1.1);
}

.toast:hover{
    transform: scale(1.01);
}
