.App{
  margin:0;
  height:100vh;

}

.header{
  display:flex;
  width: 80%;
  margin: 8px auto;
}
.text{
  flex:1.2;
  font-family:'Courier New', Courier, monospace;
  display: flex;
  color:rgb(135, 121, 197);
  justify-content:flex-end;
  align-items:center;
}
.login{
  flex:1;
  display:flex;
  justify-content:flex-end;
  align-items: center;
}

.controls{
  display:flex;
  justify-content: center;
  align-items: center;
}

.FilterComponent{
  display: flex;
  flex:1;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin-right: 15px;
}
.InputComponent{
  display: flex;
  flex:3;
  justify-content: flex-start;
  align-items: center;
}